{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Edit Homework Assignment</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}