{% extends 'base.html' %}

{% block content %}
  <h2>Homework Tracking</h2>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Class</th>
        <th>Assignment Name</th>
        <th>Due Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for homework in homework_data %}
        <tr>
          <td>{{ homework.student_name }}</td>
          <td>{{ homework.class_name }}</td>
          <td>{{ homework.assignment_name }}</td>
          <td>{{ homework.due_date }}</td>
          <td>{{ homework.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}