{% extends 'base.html' %}

{% block content %}
  <h2>Student Profiles</h2>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Class</th>
        <th>Email</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for student_profile in student_profiles_data %}
        <tr>
          <td>{{ student_profile.student_name }}</td>
          <td>{{ student_profile.class_name }}</td>
          <td>{{ student_profile.email }}</td>
          <td>{{ student_profile.phone_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}