{% extends 'base.html' %}

{% block content %}
  <h2>Attendance Tracking</h2>
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Class</th>
        <th>Date</th>
        <th>Status</th>
      </tr >
    </thead>
    <tbody>
      {% for attendance in attendance_data %}
        <tr>
          <td>{{ attendance.student_name }}</td>
          <td>{{ attendance.class_name }}</td>
          <td>{{ attendance.date }}</td>
          <td>{{ attendance.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}